{
  "openapi": "3.0.3",
  "info": {
    "version": "1.0.0",
    "title": "Wealthfolio Connect API",
    "description": "Wealthfolio Cloud REST API for brokerage data synchronization.\n\n## Authentication\nAll endpoints require Bearer token authentication. Include the JWT token in the Authorization header:\n```\nAuthorization: Bearer <your-jwt-token>\n```\n\n## Base URL\n- Production: `https://api.wealthfolio.app/api/v1`\n- Staging: `https://api-staging.wealthfolio.app/api/v1`\n\n## Optional Headers\nThe following headers can be sent with requests for localization and debugging:\n\n| Header | Type | Description |\n|--------|------|-------------|\n| `X-User-Locale` | string | User's locale (e.g., `en-US`, `fr-CA`) |\n| `X-User-Timezone` | string | User's timezone (e.g., `America/New_York`) |\n| `X-User-Country` | string | User's country code (e.g., `US`, `CA`) |\n| `X-WF-Device-Id` | UUID | Device ID for device-specific sync operations |\n\n## Rate Limiting\nAPI requests are rate limited. If you exceed the limit, you'll receive a 429 response.\n\n## Error Responses\nAll error responses follow the same format:\n```json\n{\n  \"error\": \"ERROR_CODE\",\n  \"code\": \"ERROR_CODE\",\n  \"message\": \"Human-readable error description\"\n}\n```\n",
    "contact": {
      "name": "Wealthfolio Support",
      "email": "support@wealthfolio.app",
      "url": "https://wealthfolio.app"
    }
  },
  "servers": [
    { "url": "https://api.wealthfolio.app", "description": "Production API" },
    { "url": "https://api-staging.wealthfolio.app", "description": "Staging API" },
    { "url": "http://localhost:8787", "description": "Local development" }
  ],
  "tags": [
    {
      "name": "Sync Brokerage",
      "description": "Endpoints for syncing brokerage data including connections, accounts, holdings, and activities/transactions."
    },
    {
      "name": "Sync Devices",
      "description": "Device registration and management for E2EE device sync."
    },
    { "name": "Sync Keys", "description": "Key management for end-to-end encryption." },
    { "name": "Sync Team", "description": "Team synchronization operations." },
    {
      "name": "Sync Events",
      "description": "Event-based sync endpoints for pushing and pulling encrypted sync events between devices."
    },
    { "name": "User", "description": "User profile and preferences." },
    { "name": "Subscription", "description": "Subscription and billing operations." }
  ],
  "security": [{ "bearer": [] }],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication. Obtain token from Supabase Auth."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/api/v1/user/me": {
      "get": {
        "operationId": "getCurrentUser",
        "tags": ["User"],
        "summary": "Get current user",
        "description": "Get the authenticated user's profile with team info and pending invitation (if user has no team)",
        "security": [{ "bearer": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier of the user",
                      "example": "019234ab-cdef-7890-abcd-ef1234567890"
                    },
                    "fullName": {
                      "type": "string",
                      "nullable": true,
                      "description": "Full name of the user",
                      "example": "Jane Doe"
                    },
                    "email": {
                      "type": "string",
                      "nullable": true,
                      "description": "Email address of the user",
                      "example": "jane.doe@acme.com"
                    },
                    "avatarUrl": {
                      "type": "string",
                      "nullable": true,
                      "description": "URL to the user's avatar image",
                      "example": "https://cdn.wealthfolio.app/avatars/jane-doe.jpg"
                    },
                    "locale": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's preferred locale for internationalization",
                      "example": "en-US"
                    },
                    "timeFormat": {
                      "type": "number",
                      "nullable": true,
                      "description": "User's preferred time format: 12 or 24",
                      "example": 24
                    },
                    "dateFormat": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's preferred date format",
                      "example": "yyyy-MM-dd"
                    },
                    "weekStartsOnMonday": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether the user's calendar week starts on Monday",
                      "example": true
                    },
                    "timezone": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's timezone identifier (IANA format)",
                      "example": "America/New_York"
                    },
                    "timezoneAutoSync": {
                      "type": "boolean",
                      "nullable": true,
                      "description": "Whether to automatically sync timezone with browser",
                      "example": true
                    },
                    "teamId": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid",
                      "description": "ID of the team the user belongs to",
                      "example": "019234ab-cdef-7890-abcd-ef1234567890"
                    },
                    "teamRole": {
                      "type": "string",
                      "nullable": true,
                      "description": "User's role in their team (owner or member)",
                      "example": "owner"
                    },
                    "team": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier of the team",
                          "example": "019234ab-cdef-7890-abcd-ef1234567890"
                        },
                        "name": {
                          "type": "string",
                          "nullable": true,
                          "description": "Name of the team or organization",
                          "example": "Acme Corporation"
                        },
                        "logoUrl": {
                          "type": "string",
                          "nullable": true,
                          "description": "URL to the team's logo image",
                          "example": "https://cdn.wealthfolio.app/logos/acme-corp.png"
                        },
                        "plan": {
                          "type": "string",
                          "nullable": true,
                          "description": "Current subscription plan of the team (null if no active subscription)",
                          "example": "essentials"
                        },
                        "billingEmail": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address for billing communications",
                          "example": "billing@acme.com"
                        },
                        "subscriptionStatus": {
                          "type": "string",
                          "nullable": true,
                          "description": "Current subscription status from Stripe",
                          "example": "active"
                        },
                        "stripeCustomerId": {
                          "type": "string",
                          "nullable": true,
                          "description": "Stripe customer ID",
                          "example": "cus_abc123"
                        },
                        "stripeSubscriptionId": {
                          "type": "string",
                          "nullable": true,
                          "description": "Stripe subscription ID",
                          "example": "sub_abc123"
                        },
                        "stripePriceId": {
                          "type": "string",
                          "nullable": true,
                          "description": "Stripe price ID for current plan",
                          "example": "price_abc123"
                        },
                        "subscriptionCurrentPeriodEnd": {
                          "type": "string",
                          "nullable": true,
                          "description": "End date of current billing period (ISO 8601)",
                          "example": "2025-02-01T00:00:00Z"
                        },
                        "subscriptionCancelAtPeriodEnd": {
                          "type": "boolean",
                          "nullable": true,
                          "description": "Whether subscription will cancel at period end",
                          "example": false
                        },
                        "createdAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "Team creation timestamp (ISO 8601)",
                          "example": "2025-01-01T00:00:00Z"
                        },
                        "countryCode": {
                          "type": "string",
                          "nullable": true,
                          "description": "Two-letter country code",
                          "example": "US"
                        },
                        "canceledAt": {
                          "type": "string",
                          "nullable": true,
                          "description": "Subscription cancellation date (ISO 8601)",
                          "example": null
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "logoUrl",
                        "plan",
                        "billingEmail",
                        "subscriptionStatus",
                        "stripeCustomerId",
                        "stripeSubscriptionId",
                        "stripePriceId",
                        "subscriptionCurrentPeriodEnd",
                        "subscriptionCancelAtPeriodEnd",
                        "createdAt",
                        "countryCode",
                        "canceledAt"
                      ],
                      "description": "Team information including subscription details"
                    },
                    "pendingInvite": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique identifier of the invitation",
                          "example": "019234ab-cdef-7890-abcd-ef1234567890"
                        },
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address the invitation was sent to",
                          "example": "jane.doe@acme.com"
                        },
                        "role": {
                          "type": "string",
                          "nullable": true,
                          "description": "Role the user will have in the team (owner or member)",
                          "example": "member"
                        },
                        "invitedBy": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": { "type": "string", "format": "uuid" },
                            "fullName": { "type": "string", "nullable": true },
                            "email": { "type": "string", "nullable": true }
                          },
                          "required": ["id", "fullName", "email"],
                          "description": "User who sent the invitation"
                        },
                        "team": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "id": { "type": "string", "format": "uuid" },
                            "name": { "type": "string", "nullable": true },
                            "logoUrl": { "type": "string", "nullable": true }
                          },
                          "required": ["id", "name", "logoUrl"],
                          "description": "Team that sent the invitation"
                        }
                      },
                      "required": ["id", "email", "role", "invitedBy", "team"],
                      "description": "Pending team invitation for the user (only present if user has no team)"
                    }
                  },
                  "required": [
                    "id",
                    "fullName",
                    "email",
                    "avatarUrl",
                    "locale",
                    "timeFormat",
                    "dateFormat",
                    "weekStartsOnMonday",
                    "timezone",
                    "timezoneAutoSync",
                    "teamId",
                    "teamRole",
                    "team",
                    "pendingInvite"
                  ],
                  "description": "User profile with team info and pending invitation"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subscription/plans": {
      "get": {
        "operationId": "getSubscriptionPlans",
        "tags": ["Subscription"],
        "summary": "Get subscription plans",
        "description": "Get available subscription plans with pricing. Public endpoint, cached at edge.",
        "responses": {
          "200": {
            "description": "Subscription plans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "enum": ["essentials", "duo", "plus"],
                            "description": "Plan identifier"
                          },
                          "name": {
                            "type": "string",
                            "description": "Display name",
                            "example": "Connect Duo"
                          },
                          "tagline": {
                            "type": "string",
                            "description": "Short tagline",
                            "example": "Two-person household"
                          },
                          "description": {
                            "type": "string",
                            "description": "Full description",
                            "example": "Built for couples: one combined view, shared by choice."
                          },
                          "pricing": {
                            "type": "object",
                            "properties": {
                              "monthly": {
                                "type": "number",
                                "description": "Monthly price in USD",
                                "example": 7.99
                              },
                              "yearly": {
                                "type": "number",
                                "description": "Yearly price in USD",
                                "example": 79
                              },
                              "yearlyPerMonth": {
                                "type": "number",
                                "description": "Effective monthly price when billed yearly",
                                "example": 6.58
                              }
                            },
                            "required": ["monthly", "yearly", "yearlyPerMonth"],
                            "description": "Plan pricing information"
                          },
                          "limits": {
                            "type": "object",
                            "properties": {
                              "householdSize": {
                                "type": "integer",
                                "description": "Maximum household members",
                                "example": 2
                              },
                              "institutionConnections": {
                                "anyOf": [
                                  { "type": "integer" },
                                  { "type": "string", "enum": ["unlimited"] }
                                ],
                                "description": "Maximum institution connections or 'unlimited'",
                                "example": 12
                              },
                              "devices": {
                                "type": "integer",
                                "description": "Maximum synced devices",
                                "example": 8
                              }
                            },
                            "required": ["householdSize", "institutionConnections", "devices"],
                            "description": "Plan resource limits"
                          },
                          "features": {
                            "type": "array",
                            "items": { "type": "string" },
                            "description": "Short feature list for cards",
                            "example": ["Household: 2 people"]
                          },
                          "featuresExtended": {
                            "type": "array",
                            "items": { "type": "string" },
                            "description": "Extended feature list for details"
                          },
                          "isAvailable": {
                            "type": "boolean",
                            "description": "Whether plan can be purchased",
                            "example": true
                          },
                          "isComingSoon": {
                            "type": "boolean",
                            "description": "Whether plan is coming soon",
                            "example": false
                          },
                          "badge": {
                            "type": "string",
                            "description": "Optional badge text",
                            "example": "Popular"
                          },
                          "yearlyDiscountPercent": {
                            "type": "integer",
                            "description": "Percentage saved with yearly billing",
                            "example": 18
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "tagline",
                          "description",
                          "pricing",
                          "limits",
                          "features",
                          "featuresExtended",
                          "isAvailable",
                          "isComingSoon",
                          "yearlyDiscountPercent"
                        ],
                        "description": "Subscription plan"
                      },
                      "description": "Available subscription plans"
                    }
                  },
                  "required": ["plans"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/keys/initialize": {
      "post": {
        "operationId": "initializeTeamKeys",
        "tags": ["Sync Keys"],
        "summary": "Initialize team keys",
        "description": "Phase 1: Returns next step for key initialization.\n\nReturns discriminated response:\n- **BOOTSTRAP**: Ready to initialize - challenge/nonce returned for key generation\n- **PAIRING_REQUIRED**: Already initialized - device must pair with trusted device\n- **READY**: Device already trusted at current key version",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Device ID from enrollment. Must match X-WF-Device-Id header.",
                    "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
                  }
                },
                "required": ["device_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Next step for key initialization",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["BOOTSTRAP"],
                          "description": "Ready to bootstrap - generate RK locally and call /commit"
                        },
                        "challenge": {
                          "type": "string",
                          "description": "Server-generated challenge to sign with RK (base64 encoded)",
                          "example": "YTFiMmMzZDQtZTVmNi03ODkwLWFiY2QtZWYxMjM0NTY3ODkw"
                        },
                        "nonce": {
                          "type": "string",
                          "description": "Nonce for replay protection (base64 encoded)",
                          "example": "ZjllOGQ3YzYtYjVhNC0zMjEwLWZlZGMtYmEwOTg3NjU0MzIx"
                        },
                        "key_version": {
                          "type": "integer",
                          "description": "Key version to use for initialization",
                          "example": 1
                        }
                      },
                      "required": ["mode", "challenge", "nonce", "key_version"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["PAIRING_REQUIRED"],
                          "description": "E2EE already initialized - device must pair with a trusted device"
                        },
                        "e2ee_key_version": {
                          "type": "integer",
                          "description": "Current E2EE key version (epoch)"
                        },
                        "require_sas": {
                          "type": "boolean",
                          "description": "Whether SAS verification is required during pairing"
                        },
                        "pairing_ttl_seconds": {
                          "type": "integer",
                          "description": "Time-to-live for pairing sessions in seconds"
                        },
                        "trusted_devices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "description": "Device ID"
                              },
                              "name": { "type": "string", "description": "Device display name" },
                              "platform": { "type": "string", "description": "Device platform" },
                              "last_seen_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time",
                                "description": "Last activity timestamp"
                              }
                            },
                            "required": ["id", "name", "platform", "last_seen_at"]
                          },
                          "description": "List of trusted devices that can approve pairing"
                        }
                      },
                      "required": [
                        "mode",
                        "e2ee_key_version",
                        "require_sas",
                        "pairing_ttl_seconds",
                        "trusted_devices"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["READY"],
                          "description": "Device is already trusted at current key version"
                        },
                        "e2ee_key_version": {
                          "type": "integer",
                          "description": "Current E2EE key version (epoch)"
                        }
                      },
                      "required": ["mode", "e2ee_key_version"]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - not eligible to initialize",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/keys/initialize/commit": {
      "post": {
        "operationId": "commitInitializeTeamKeys",
        "tags": ["Sync Keys"],
        "summary": "Commit key initialization",
        "description": "Phase 2: Upload signed proof and key envelopes to activate keys",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Device ID from enrollment. Must match X-WF-Device-Id header.",
                    "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
                  },
                  "key_version": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Key version to initialize (must match the version from initialize response)",
                    "example": 1
                  },
                  "device_key_envelope": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Device-specific key envelope encrypted with device's public key (base64 encoded)",
                    "example": "ZGV2aWNlX2tleV9lbnZlbG9wZQ=="
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Signature over the challenge proving possession of RK (base64 encoded)",
                    "example": "c2lnbmF0dXJlX2Jhc2U2NA=="
                  },
                  "challenge_response": {
                    "type": "string",
                    "description": "Response to the server challenge (base64 encoded)",
                    "example": "Y2hhbGxlbmdlX3Jlc3BvbnNl"
                  },
                  "recovery_envelope": {
                    "type": "string",
                    "description": "Optional recovery key envelope for account recovery (base64 encoded)",
                    "example": "cmVjb3ZlcnlfZW52ZWxvcGU="
                  }
                },
                "required": ["device_id", "key_version", "device_key_envelope", "signature"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keys activated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    },
                    "key_state": {
                      "type": "string",
                      "enum": ["ACTIVE", "PENDING"],
                      "description": "Key state after initialization: ACTIVE (ready to use) or PENDING (awaiting additional steps)"
                    }
                  },
                  "required": ["success", "key_state"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or challenge response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/keys/rotate": {
      "post": {
        "operationId": "rotateTeamKeys",
        "tags": ["Sync Keys"],
        "summary": "Start key rotation",
        "description": "Phase 1: Start key rotation and return challenge/nonce",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "initiator_device_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Device ID initiating the rotation. Must be a trusted device.",
                    "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
                  }
                },
                "required": ["initiator_device_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Challenge for key rotation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "challenge": {
                      "type": "string",
                      "description": "Server-generated challenge to sign (base64 encoded)",
                      "example": "YTFiMmMzZDQtZTVmNi03ODkwLWFiY2QtZWYxMjM0NTY3ODkw"
                    },
                    "nonce": {
                      "type": "string",
                      "description": "Nonce for replay protection (base64 encoded)",
                      "example": "ZjllOGQ3YzYtYjVhNC0zMjEwLWZlZGMtYmEwOTg3NjU0MzIx"
                    },
                    "new_key_version": {
                      "type": "integer",
                      "description": "Key version after rotation",
                      "example": 2
                    }
                  },
                  "required": ["challenge", "nonce", "new_key_version"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - device not trusted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/keys/rotate/commit": {
      "post": {
        "operationId": "commitRotateTeamKeys",
        "tags": ["Sync Keys"],
        "summary": "Commit key rotation",
        "description": "Phase 2: Upload signed proof and new key envelopes",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "new_key_version": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "New key version after rotation",
                    "example": 2
                  },
                  "envelopes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "device_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Target device ID"
                        },
                        "device_key_envelope": {
                          "type": "string",
                          "minLength": 1,
                          "description": "Re-encrypted key envelope for this device (base64 encoded)"
                        }
                      },
                      "required": ["device_id", "device_key_envelope"]
                    },
                    "description": "Key envelopes for all trusted devices, re-encrypted with new keys"
                  },
                  "signature": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Signature over the rotation data (base64 encoded)",
                    "example": "c2lnbmF0dXJlX2Jhc2U2NA=="
                  },
                  "challenge_response": {
                    "type": "string",
                    "description": "Response to the server challenge (base64 encoded)",
                    "example": "Y2hhbGxlbmdlX3Jlc3BvbnNl"
                  }
                },
                "required": ["new_key_version", "envelopes", "signature"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keys rotated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    },
                    "key_version": {
                      "type": "integer",
                      "description": "New key version after successful rotation",
                      "example": 2
                    }
                  },
                  "required": ["success", "key_version"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature or challenge response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/keys/reset": {
      "post": {
        "operationId": "resetTeamKeys",
        "tags": ["Sync Keys"],
        "summary": "Reset team sync keys",
        "description": "**⚠️ DESTRUCTIVE** - Performs a team-wide reset of E2EE sync keys.\n\nThis operation:\n1. Increments the key version (epoch)\n2. Revokes trust from ALL devices\n3. The next device to enroll will receive BOOTSTRAP mode\n\nUse this when:\n- User lost access to all trusted devices\n- Suspected key compromise\n- Account recovery scenarios\n\n**Owner only** - Only the team owner can perform this action.",
        "security": [{ "bearer": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for the reset (stored in audit log)",
                    "example": "Lost access to all trusted devices"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team sync reset successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    },
                    "key_version": {
                      "type": "integer",
                      "description": "New key version after reset (incremented from previous)",
                      "example": 2
                    },
                    "reset_at": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time",
                      "description": "Timestamp of the reset"
                    }
                  },
                  "required": ["success", "key_version", "reset_at"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - valid JWT required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - only team owner can reset keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices": {
      "get": {
        "operationId": "listDevices",
        "tags": ["Sync Devices"],
        "summary": "List devices",
        "description": "List devices. Use scope=my for own devices, scope=team for all team devices (owner only)",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["my", "team"],
              "default": "my",
              "description": "Scope of devices to list: 'my' for own devices (default), 'team' for all team devices (owner only)",
              "example": "my"
            },
            "required": false,
            "description": "Scope of devices to list: 'my' for own devices (default), 'team' for all team devices (owner only)",
            "name": "scope",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of devices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Unique device identifier"
                      },
                      "user_id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Owner user ID"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "User-friendly device name",
                        "example": "Aziz's MacBook Pro"
                      },
                      "platform": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 32,
                        "description": "Device platform identifier",
                        "example": "mac"
                      },
                      "device_public_key": {
                        "type": "string",
                        "nullable": true,
                        "description": "Device's public key for E2EE (base64)"
                      },
                      "trust_state": {
                        "type": "string",
                        "enum": ["untrusted", "trusted", "revoked"],
                        "description": "Device trust state for E2EE sync"
                      },
                      "trusted_key_version": {
                        "type": "number",
                        "nullable": true,
                        "description": "E2EE key version the device is trusted at"
                      },
                      "os_version": {
                        "type": "string",
                        "nullable": true,
                        "description": "Operating system version",
                        "example": "macOS 14.0"
                      },
                      "app_version": {
                        "type": "string",
                        "nullable": true,
                        "description": "App version",
                        "example": "1.2.3"
                      },
                      "last_seen_at": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time",
                        "description": "Last activity timestamp"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Registration timestamp"
                      }
                    },
                    "required": [
                      "id",
                      "user_id",
                      "display_name",
                      "platform",
                      "device_public_key",
                      "trust_state",
                      "trusted_key_version",
                      "os_version",
                      "app_version",
                      "last_seen_at",
                      "created_at"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "enrollDevice",
        "tags": ["Sync Devices"],
        "summary": "Enroll device for sync",
        "description": "Single entry point for device enrollment. Returns the next step for the device:\n\n- **BOOTSTRAP**: First device for this team - generate RK locally and call /sync/team/keys/initialize\n- **PAIR**: E2EE already enabled - device must pair with an existing trusted device\n- **READY**: Device is already trusted and ready to sync\n\nThis endpoint is idempotent - calling it multiple times with the same device_nonce returns the same device.",
        "security": [{ "bearer": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_nonce": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Device nonce (UUID) stored in device Keychain for idempotent registration. This uniquely identifies a physical device and won't transfer with DB backup/restore.",
                    "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
                  },
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "User-friendly name for the device",
                    "example": "Aziz's MacBook Pro"
                  },
                  "platform": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 32,
                    "description": "Platform type (ios, android, mac, windows, linux, web)",
                    "example": "mac"
                  },
                  "os_version": {
                    "type": "string",
                    "maxLength": 64,
                    "description": "Operating system version",
                    "example": "macOS 14.0"
                  },
                  "app_version": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "App version",
                    "example": "1.2.3"
                  }
                },
                "required": ["device_nonce", "display_name", "platform"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment status and next step",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["BOOTSTRAP"],
                          "description": "First device - generate RK locally and initialize E2EE"
                        },
                        "device_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Server-assigned device ID"
                        },
                        "e2ee_key_version": {
                          "type": "integer",
                          "description": "E2EE key version (epoch) to use for initialization"
                        }
                      },
                      "required": ["mode", "device_id", "e2ee_key_version"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["PAIR"],
                          "description": "Device must pair with an existing trusted device to receive RK"
                        },
                        "device_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Server-assigned device ID"
                        },
                        "e2ee_key_version": {
                          "type": "integer",
                          "description": "Current E2EE key version (epoch)"
                        },
                        "require_sas": {
                          "type": "boolean",
                          "description": "Whether SAS verification is required during pairing"
                        },
                        "pairing_ttl_seconds": {
                          "type": "integer",
                          "description": "Time-to-live for pairing sessions in seconds"
                        },
                        "trusted_devices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": { "type": "string", "format": "uuid" },
                              "name": { "type": "string" },
                              "platform": { "type": "string" },
                              "last_seen_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                              }
                            },
                            "required": ["id", "name", "platform", "last_seen_at"]
                          },
                          "description": "List of trusted devices that can approve pairing"
                        }
                      },
                      "required": [
                        "mode",
                        "device_id",
                        "e2ee_key_version",
                        "require_sas",
                        "pairing_ttl_seconds",
                        "trusted_devices"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "enum": ["READY"],
                          "description": "Device is already trusted and ready to sync"
                        },
                        "device_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Server-assigned device ID"
                        },
                        "e2ee_key_version": {
                          "type": "integer",
                          "description": "Current E2EE key version (epoch)"
                        },
                        "trust_state": {
                          "type": "string",
                          "enum": ["untrusted", "trusted", "revoked"],
                          "description": "Current trust state of the device"
                        }
                      },
                      "required": ["mode", "device_id", "e2ee_key_version", "trust_state"]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices/{deviceId}": {
      "get": {
        "operationId": "getDevice",
        "tags": ["Sync Devices"],
        "summary": "Get device",
        "description": "Get a single device by ID",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Device details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique device identifier"
                    },
                    "user_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Owner user ID"
                    },
                    "display_name": {
                      "type": "string",
                      "description": "User-friendly device name",
                      "example": "Aziz's MacBook Pro"
                    },
                    "platform": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 32,
                      "description": "Device platform identifier",
                      "example": "mac"
                    },
                    "device_public_key": {
                      "type": "string",
                      "nullable": true,
                      "description": "Device's public key for E2EE (base64)"
                    },
                    "trust_state": {
                      "type": "string",
                      "enum": ["untrusted", "trusted", "revoked"],
                      "description": "Device trust state for E2EE sync"
                    },
                    "trusted_key_version": {
                      "type": "number",
                      "nullable": true,
                      "description": "E2EE key version the device is trusted at"
                    },
                    "os_version": {
                      "type": "string",
                      "nullable": true,
                      "description": "Operating system version",
                      "example": "macOS 14.0"
                    },
                    "app_version": {
                      "type": "string",
                      "nullable": true,
                      "description": "App version",
                      "example": "1.2.3"
                    },
                    "last_seen_at": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time",
                      "description": "Last activity timestamp"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Registration timestamp"
                    }
                  },
                  "required": [
                    "id",
                    "user_id",
                    "display_name",
                    "platform",
                    "device_public_key",
                    "trust_state",
                    "trusted_key_version",
                    "os_version",
                    "app_version",
                    "last_seen_at",
                    "created_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateDevice",
        "tags": ["Sync Devices"],
        "summary": "Update device",
        "description": "Update device metadata (name, etc.)",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "New display name for the device",
                    "example": "Work MacBook"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": { "nullable": true },
                    "description": "Additional metadata to store with the device"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDevice",
        "tags": ["Sync Devices"],
        "summary": "Delete device",
        "description": "Delete a device record",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Device deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices/{deviceId}/revoke": {
      "post": {
        "operationId": "revokeDevice",
        "tags": ["Sync Devices"],
        "summary": "Revoke device",
        "description": "Revoke device trust",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Device revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [true],
                      "description": "Operation succeeded"
                    }
                  },
                  "required": ["success"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Device not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices/{deviceId}/pairings": {
      "post": {
        "operationId": "createDevicePairing",
        "tags": ["Sync Pairings"],
        "summary": "Create pairing session",
        "description": "Create a pairing session for a device (trusted device only)",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_hash": {
                    "type": "string",
                    "minLength": 64,
                    "maxLength": 64,
                    "description": "SHA-256 hash of the pairing code (hex encoded, 64 chars). The actual code is never sent to the server.",
                    "example": "a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3"
                  },
                  "ephemeral_public_key": {
                    "type": "string",
                    "minLength": 1,
                    "description": "X25519 ephemeral public key for key exchange (base64 encoded)",
                    "example": "bGludXggaXMgYXdlc29tZQ=="
                  }
                },
                "required": ["code_hash", "ephemeral_public_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pairing session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pairing_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique pairing session identifier"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Session expiration timestamp"
                    },
                    "key_version": {
                      "type": "integer",
                      "description": "Current E2EE key version (epoch)"
                    },
                    "require_sas": {
                      "type": "boolean",
                      "description": "Whether SAS verification is required"
                    }
                  },
                  "required": ["pairing_id", "expires_at", "key_version", "require_sas"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - device not trusted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices/{deviceId}/pairings/{pairingId}": {
      "get": {
        "operationId": "getDevicePairing",
        "tags": ["Sync Pairings"],
        "summary": "Get pairing session",
        "description": "Get pairing session details",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "pairingId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
            "name": "x-wf-device-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Pairing session details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pairing_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique pairing session identifier"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["open", "claimed", "approved", "completed", "cancelled", "expired"],
                      "description": "Current session status: open → claimed → approved → completed (or cancelled/expired)"
                    },
                    "claimer_device_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid",
                      "description": "Device ID of the claimer (null if not yet claimed)"
                    },
                    "claimer_ephemeral_pub": {
                      "type": "string",
                      "nullable": true,
                      "description": "Claimer's ephemeral public key for deriving shared secret (base64, null if not claimed)"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Session expiration timestamp"
                    }
                  },
                  "required": [
                    "pairing_id",
                    "status",
                    "claimer_device_id",
                    "claimer_ephemeral_pub",
                    "expires_at"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code (e.g., UNAUTHORIZED, FORBIDDEN, NOT_FOUND)",
                      "example": "UNAUTHORIZED"
                    },
                    "code": {
                      "type": "string",
                      "description": "Error code (same as error field)",
                      "example": "UNAUTHORIZED"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message",
                      "example": "Authentication required"
                    }
                  },
                  "required": ["error", "code", "message"]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/sync/team/devices/{deviceId}/pairings/{pairingId}/approve": {
      "post": {
        "operationId": "approveDevicePairing",
        "tags": ["Sync Pairings"],
        "summary": "Approve pairing",
        "description": "Approve a pairing session",
        "security": [{ "bearer": [] }],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "deviceId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "UUID identifier",
              "example": "019b606a-e90b-76a3-94ef-f719b67faa90"
            },
            "required": true,
            "description": "UUID identifier",
            "name": "pairingId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Device ID obtained from device enrollment (POST /sync/team/devices). Required for all device-specific operations.",
[...]
